/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
  margin-bottom: 5px;
}

.demo-icons li {
  margin-bottom: 50px;
  text-align: center;
}
.demo-icons .lnr,
.demo-icons .fa {
  font-size: 28px;
}
.demo-icons .cssclass {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}

.brand{
	background-color: #DEE3E9;
}
ul.notification .table tr td> li {
  
	list-style:none;
	font-size:17px;
}
ul.notification .table tr td{
    color: #000;
}
ul.notification .table tr td> li a:hover{
	color: #DEE3E9;
}
tr.btndefault{
	
	background:#DEE3E9 ;
	
}
tr.btnwarning{
	
	background:#FFFFFF ;
	
}
bordered th:last-child, table.table-bordered td:last-child {
    border-right-width: 1px !important;
}